<a href="https://colab.research.google.com/github/lucas794/7507-Algo3/blob/master/TP1_Ejercicio_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**P13.** Según los cinéfilos, ¿cuál es el rating promedio de las 5 películas más populares? Un usuario es cinéfilo cuando puntuó más de 50 películas y todas las puntuaciones son de más de 2.5 estrellas. Indicar id, título, popularidad y rating promedio de la película.

In [131]:
import pandas as pd

In [151]:
df_peliculas = pd.read_csv('./drive/MyDrive/ORGA_TP1/Movie dataset/movies.csv')
usuarios_imdb = pd.read_csv("./drive/MyDrive/ORGA_TP1/Movie dataset/ratings.csv")

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [133]:
df_peliculas.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

De aquí, necesitamos obtener la popularidad de la película, y el id correspondiente, pero denotamos que la columna 'id' es del tipo object, donde debería ser un tipo entero, lo mismo con popularity, observemos si podemos 'salvar' esos casos, que podría ser que los datos estén intercambiados. Intentemos cambiarle el type a la columna, observemos que valor es el que falla para observar mas a punto.

In [152]:
df_peliculas['id'] = df_peliculas['id'].astype('int64')

ValueError: ignored

Aca vemos parte del problema, repitamos lo mismo para la columna popularity

In [153]:
df_peliculas['popularity'] = df_peliculas['popularity'].astype('float64')

ValueError: ignored

Para popularity mismo problema, string to float, hay algo que falla, veamos primero que error tira con int64

In [154]:
df_peliculas['id'] = df_peliculas['id'].astype('int64')

ValueError: ignored

In [155]:
df_peliculas[ df_peliculas['id'].str.contains('-') ]

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
19730,- Written by Ørnås,0.065736,/ff9qCepilowshEtG2GYWwzt2bs4.jpg,NaN,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",1997-08-20,0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29503,Rune Balot goes to a casino connected to the ...,1.931659,/zV8bHuSL6WXoD6FWogP9j4x80bL.jpg,NaN,"[{'iso_3166_1': 'US', 'name': 'United States o...",2012-09-29,0,68.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,...,12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35587,Avalanche Sharks tells the story of a bikini ...,2.185485,/zaSf5OG7V8X8gqFvly88zDdRm46.jpg,NaN,"[{'iso_3166_1': 'CA', 'name': 'Canada'}]",2014-01-01,0,82.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,...,22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Vemos que las 3 entradas están rotas. No nos sirve demasiado su información porque no se puede 'salvar' dado que la información no esta intercambiada solo en 2 valores, por lo tanto, se decide borrarlas, y no solo eso, tambien vemos que se encuentra aquí el error cuando se intenta convertir la columna 'popularity'

In [156]:
df_peliculas = df_peliculas.drop( df_peliculas[ df_peliculas['id'].str.contains('-') ].index )

In [157]:
df_peliculas.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                        object
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity                object
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

In [158]:
df_peliculas['id'] = df_peliculas['id'].astype('int64')
df_peliculas['popularity'] = df_peliculas['popularity'].astype('float64')
df_peliculas.dtypes

adult                     object
belongs_to_collection     object
budget                    object
genres                    object
homepage                  object
id                         int64
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                  float64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                     object
vote_average             float64
vote_count               float64
dtype: object

Finalmente, tenemos el dataframe convertido como se pedía. Ahora, de éste dataframe necesitamos la información de 'id' y 'popularity'

In [159]:
informacion_peliculas_con_id = df_peliculas[['id', 'popularity']]

Veamos si tenemos algunos casos donde se repita los valores de id, eso si sería un grave problema.

In [160]:
informacion_peliculas_con_id[ informacion_peliculas_con_id.duplicated() ]

           id  popularity
1465   105045    0.122178
9165     5511    9.091288
9327    23305    1.967992
13375  141971    0.411949
16764  141971    0.411949
21165  119916    0.000018
21854  152795    8.534039
22151   18440    1.436085
23044   25541    2.587911
24844   11115    6.880365
28860  168538    1.276602
29374   42495    0.187901
35798  159849    0.473322
38871   99080    0.002362
40040  298721    2.535419
40276   97995    0.141558
45265  265189   12.165685

Efectivamente, hay algunos que se repiten, los borramos.

In [161]:
informacion_peliculas_con_id = informacion_peliculas_con_id.drop( informacion_peliculas_con_id[ informacion_peliculas_con_id.duplicated() ].index )

Ahora, veamos los usuarios de IMDB la información que nos provee y sus tipos

In [162]:
usuarios_imdb.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

Buenas noticias,movieId es int64, va a coincidir con nuestro 'id' de informacion_peliculas_con_id. 
Intentemos iniciar con el filtro de lo que es un cinéfilo, un cinéfilo por definición es alguien que votó como mínimo 50 peliculas y la calificación menor es siempre por encima de 2.5. Armemos una nueva columna con la información de las repeticiones de cada usuario.

In [163]:
usuarios_imdb["calificaciones_totales"] = usuarios_imdb.groupby('userId')['userId'].transform('count')

Ahora, armemos el filtro, y saquemos del dataframe aquellos que votaron menos de 50 veces.

In [164]:
filtro_peliculas = usuarios_imdb.calificaciones_totales < 50
usuarios_imdb = usuarios_imdb.drop( usuarios_imdb[ filtro_peliculas ].index )

Ahora, armemos el filtro para aquellos que tienen alguna votación con valor menor a 2.5

In [165]:
usuarios_imdb["minima_calificacion"] = usuarios_imdb.groupby('userId')['rating'].transform('min')

Borramos aquellos que tienen alguna votación mínima a 2.5

In [166]:
filtro_calificacion = usuarios_imdb.minima_calificacion < 2.5
usuarios_imdb = usuarios_imdb.drop( usuarios_imdb[ filtro_calificacion ].index )

In [167]:
ratings_peliculas = usuarios_imdb.groupby(['movieId']).agg({'rating':'mean'})

Hasta aquí, genere un nuevo dataframe con el mean de los ratings que tiene, ahora, debo unir este dataframe con el dataframe obtenido de 'movies.csv' que contiene la popularidad por id.

In [168]:
informacion_peliculas_con_id.columns = ['movieId', 'popularity'] #Cambiamos el nombre para que el ID del merge coincida
df_peliculas_populares = ratings_peliculas.merge(informacion_peliculas_con_id, how='left', on='movieId')
df_peliculas_populares

       movieId    rating  popularity
0            1  4.234129         NaN
1            2  3.893059    3.860491
2            3  3.719608    2.292110
3            4  3.855769         NaN
4            5  3.619217    9.026586
...        ...       ...         ...
13454   175733  5.000000         NaN
13455   175735  4.500000         NaN
13456   175737  5.000000         NaN
13457   175795  5.000000         NaN
13458   175975  4.000000         NaN

[13459 rows x 3 columns]

Vemos que algunas popularidades son del tipo NaN, dado que no tenemos referencias ni informacion en 'movies.csv', las llenamos de 0.

In [169]:
df_peliculas_populares['popularity'] = df_peliculas_populares['popularity'].fillna(0)

Ahora, solo nos queda sortear el dataframe por popularidad, y obtener los primeros 5 ingresos.

In [170]:
df_peliculas_populares = df_peliculas_populares.sort_values(by='popularity', ascending=False).head(5) #Obtenemos las primeras 5 filas

In [171]:
df_peliculas_populares

     movieId    rating  popularity
608      680  4.095238  140.950236
137      155  4.000000  123.167259
73        78  3.538462   96.272374
508      550  3.681034   63.869599
257      278  3.375000   51.645403

Ahora, para completar la información del enunciado, debemos traer de 'movies.csv' el nombre de la pelicula

In [172]:
df_peliculas = df_peliculas[ ['id', 'original_title'] ]
df_peliculas.rename( columns={'id':'movieId','original_title':'titulo'},inplace=True ) #Cambiamos el nombre del dataframe para coincidir en la Key

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [173]:
df_peliculas_populares = df_peliculas_populares.merge(df_peliculas, how='left', on='movieId')

In [174]:
df_peliculas_populares

   movieId    rating  popularity                    titulo
0      680  4.095238  140.950236              Pulp Fiction
1      155  4.000000  123.167259           The Dark Knight
2       78  3.538462   96.272374              Blade Runner
3      550  3.681034   63.869599                Fight Club
4      278  3.375000   51.645403  The Shawshank Redemption

In [179]:
#Iteramos para mostrar el resultado final
for i, fila in df_peliculas_populares.iterrows():
      id = fila['movieId']
      pelicula = fila['titulo']
      popularidad = fila['popularity']
      rating = fila['rating']
      print("#%d: Pelicula: %s (id %d) - Popularidad: %.2f - rating %.2f" % (i + 1, pelicula, id, popularidad, rating))

#1: Pelicula: Pulp Fiction (id 680) - Popularidad: 140.95 - rating 4.10
#2: Pelicula: The Dark Knight (id 155) - Popularidad: 123.17 - rating 4.00
#3: Pelicula: Blade Runner (id 78) - Popularidad: 96.27 - rating 3.54
#4: Pelicula: Fight Club (id 550) - Popularidad: 63.87 - rating 3.68
#5: Pelicula: The Shawshank Redemption (id 278) - Popularidad: 51.65 - rating 3.38